@CHARSET "UTF-8";

.strikethrough {
	text-decoration: line-through;
}

.emphasize {
	font-style: italic;
}

.important {
	font-weight: bold;
}

.container {
	margin-left: auto;
    margin-right: auto;
    width: 60em;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(255,153,0);
    margin-top: -7px;
    margin-bottom: -7px;
    border: black solid 3px;
}

body {
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* font-family: 'Palatino Linotype', 'Book Antiqua’, Palatino, serif; */
    font-family: Century Gothic, sans-serif;
}